#!/usr/bin/env bash

set -euo pipefail

export BW_SESSION=${BW_SESSION:-`bw unlock --raw` }

FN=$HOME/Desktop/aws-bedrock-credentials.json

bw get item bootiful-ai-aws-bedrock-demo > $FN 
 

export SPRING_AI_BEDROCK_AWS_ACCESS_KEY=$(cat $FN | jq '{access_key: (.fields[] | select(.name == "access-key").value), access_key_secret: (.fields[] | select(.name == "access-key-secret").value)}'  | jq  -r '.access_key')
export SPRING_AI_BEDROCK_AWS_SECRET_KEY=$(cat $FN | jq '{access_key: (.fields[] | select(.name == "access-key").value), access_key_secret: (.fields[] | select(.name == "access-key-secret").value)}'  | jq  -r '.access_key_secret')

rm -rf $FN